body {
  margin: 0;
  padding: 0;
  font-family:'Roboto Slab', serif;
  color: #fff;
  background: #1e1e1e;
  background: linear-gradient(-45deg, #aefeff, #79d5ff, #4cbfff, #79d5ff);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

h1 {
  margin-bottom: 30px;
  font-size: 4em;
  color: #fff;
  text-shadow: 4px 4px 10px #000;
  text-align: center;
}

p {
  text-align: center;
  color: #fff;
  font-size: 1.5em;
}

.grid {
  padding: 50px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.card {
  padding: 20px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 0.7);
  transform: translateY(0);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  text-align: center;
  position: relative;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgb(0 0 0 / 0.9);
}

.card img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  margin-bottom: 20px;
}

.card h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
}

.card audio {
  width: 100%;
  margin-bottom: 20px;
}

.download-button {
  padding: 15px 30px;
  background: #79d5ff;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0 4px 14px rgb(0 0 0 / 0.5);
  transition: background 0.3s ease, transform 0.5s ease;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.download-button img {
  width: 20px;
  height: 20px;
}

.download-button:hover {
  background: #4cbfff;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgb(0 0 0 / 0.7);
}

.timer {
  margin-bottom: 20px;
  color: #fff;
  font-size: 1em;
  background: #79d5ff;
  padding: 10px 20px;
  border-radius: 30px;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.timer img {
  width: 20px;
  height: 20px;
}

.more {
  padding: 50px;
  color: #fff;
  text-align: center;
}

.more h2 {
  font-size: 3em;
  margin-bottom: 30px;
}

.more p {
  font-size: 1.5em;
}
  
footer {
  margin-top: 50px;
  text-align: center;
  color: #fff;
}
